/* header.module.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 24px 0;
  height: 72px;
}

.logo img {
  height: 40px;
}

.tools {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user p {
  margin: 0;
  font-weight: 500;
  color: var(--text); /* Usamos la variable para el color del texto */
}
