.tabs {
  list-style: none;
  padding: 0 0 0.5rem;
  display: flex;
  border-bottom: thin solid var(--neutral-gray-300);
}

.tabs a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--neutral-gray-900);
}

.tabs a[aria-current="page"] {
  border-bottom: 2px solid var(--success);
  font-weight: 700;
}
