.chip {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.25rem;
  text-transform: uppercase;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.approved {
  background-color: var(--success);
  color: black;
}

.pending {
  background-color: var(--warning);
  color: black;
}

.rejected {
  background-color: var(--error);
  color: white;
}
