/* src/components/navMenu/navMenu.module.css */

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 8px;
  }
  
  .navigation {
    display: flex;
    height: 48px;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--text);
    gap: 0.5rem;
    background-color: var(--neutral-gray-50);;
  }
  
  .navigation:hover {
    background-color: var(--neutral-gray-100);
  }
  
  .navigation svg {
    width: 1rem;
    height: 1rem;
  }
  
  .navigation[aria-current="page"] {
    background-color: var(--main);
    color: var(--text-contrast);
  }
  
  .navigation span {
    font-size: 1rem;
  }
  