main {
  background-color: var(--neutral-gray-50);
  border-radius: 1.5rem;
  border: 1px solid var(--neutral-gray-300);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding: 1.5rem;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--neutral-gray-400);
  border-radius: 0 10px 10px 0;
  transition: background-color 0.3s, width 0.3s;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}


*:hover *::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: var(--neutral-gray-500);
}

*:hover *::-webkit-scrollbar-thumb:hover {
  background-color: var(--text);
}
