.tableContainer {
  padding: 24px;
  border-radius: 1.5rem .5rem .5rem 1.5rem;
  border: 1px solid var(--neutral-gray-300);
  overflow-y: auto;
}

.tableScrollContainer {
  height: 100%; 
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  color: var(--text);
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--neutral-gray-300);
}

th {
  font-weight: 600;
  color: var(--neutral-gray-700);
  background-color: var(--neutral-gray-100);
  cursor: pointer;
}

.headerContent {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}


tbody tr:hover {
  background-color: var(--neutral-gray-100);
  cursor: pointer;
}

.sortableHeader {
  align-items: center;
  gap: 4px;
}

.chevronIcon {
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s;
}

.inactive {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .tableContainer {
    padding: 0;
    border: none;
    border-radius: 0;
    height: fit-content;
  }

  .tableScrollContainer {
    display: none;
  }

  .mobileCards {
    display: grid;
    gap: 16px;
  }

  .mobileCard {
    background-color: var(--neutral-gray-100);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .mobileCard:hover {
    background-color: var(--neutral-gray-50);
  }

  .mobileCard div {
    margin-bottom: 8px;
  }

  .mobileCard strong {
    font-weight: 600;
  }
}

@media (min-width: 769px) {
  .mobileCards {
    display: none;
  }
}
