.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

.content {
  height: fit-content;
  background-color: var(--neutral-gray-50);
  color: var(--text);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -4px 20px var(--shadow);
  padding: 32px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 3;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
  border-top: 1px solid var(--neutral-gray-500);
  padding-top: 32px;
  .wrapper {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 650px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: auto;
    .wrapper {
      width: 60%;
    }
  }
}



