.mobileCard {
    background-color: var(--neutral-gray-100);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px var(--shadow);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
  
  .mobileCard:hover {
    background-color: var(--neutral-gray-50);
  }
  
  .mobileCard div {
    margin-bottom: 0.5rem;
  }
  
  .mobileCard strong {
    font-weight: 600;
  }
  