.toggleContainer {
  box-shadow: 0px 0px 4px 0px var(--shadow);
  border-radius: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkboxLabel {
  background-color: var(--background);
  width: 76px;
  height: 36px;
  border-radius: 50px;
  position: relative;
  padding: 0.3125rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moonIcon,
.sunIcon {
  color: var(--main);
}

.ball {
  background-color: var(--background);
  width: 32px;
  aspect-ratio: 1;
  position: absolute;
  left: 0.125rem;
  top: 0.125rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
  border: thin solid var(--neutral-gray-100);
  transform: translateX(40px);
  box-shadow: 0px 0px 4px 0px var(--shadow);
  padding: 0.25rem;
}

.animation {
  transform: translateX(0.125rem);
}
