.button {
  width: 100%;
  height: 40px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-transform: uppercase;
}

.button.filled.green {
  background-color: var(--success);
  color: black;
  border: none;
}

.button.outlined.green {
  background-color: transparent;
  color: var(--success);
  border: 2px solid var(--success);
}

.button.filled.red {
  background-color: var(--error);
  color: black;
  border: none;
}

.button.outlined.red {
  background-color: transparent;
  color: var(--error);
  border: 2px solid var(--error);
}

.button:hover {
  opacity: 0.9;
}
