.overlay {
  background-color: var(--shadow);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.content {
  background-color: var(--background);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 480px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }

  .productImage {
    width: 100%;
    height: 290px;
    object-fit: cover;
  }
}

.detailHeader {
  padding: 1rem 1.5rem;
  border-bottom: thin solid var(--neutral-gray-300);

  h1,
  h2 {
    margin: unset;
  }

  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
  }
}

.detailContent {
  padding-inline: 1.5rem;
}

.actions{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 0 24px;
}

.iconButton {
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--text);
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 5px;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(100%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  border-bottom: thin solid var(--neutral-gray-200);

  p {
    margin: unset;
    font-size: 14px;
    color: var(--main);
  }

  .data {
    color: var(--neutral-gray-600);
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    max-width: 480px;
  }
}
